<link rel="stylesheet" href="{{url_for('static', filename='css/menu.css')}}">

{% extends 'general.html' %}

{% block content %}
    <div class="form">
            <img class="toff" src="{{url_for('static', filename='css/sonatel.jpg')}}" alt="tof">

            <!-- <p class="tte"> Rataché au volet RSE de la Sonatel, et inaugurée le 13 Novembre 2017 par l'ancien directeur de la Sonatel Mr Alioune Ndiaye,
                la Sonatel Academy est la première école de codage gratuite du Senegal et dans la sous -région. 
                Elle a pour mission de: <br>
                1- Accompagner L'État du Sénégal dans sa politique de digitalisation en investissant sur le capital humain <br>
                2- Répondre aux besoins en compétence numérique et renforcer l'employabilité des jeunes. <br>
                3- Former aux métiers du numérique <br>
                4- Donner aux jeunes les bases nécessaire (amorçage) <br>
                5- Donner aux jeunes la capacité de travailler seul et l'envie de travailler en équipe <br>
                6- Faire entrer les jeunes sur le marche du travail à travers les TIC. <br> <br>
                #CodingForBetterLife"
            </p> -->

    
        <style>
            

            /* .t .tte{
                text-align: left;
                width: 300px;
                height: 500px;
                margin: 0px;
                padding-left: 40px;
                background-color: green; 
                display: inline-block;
            } */

            

            
        </style>

    </div>
{% endblock content %}