{% extends 'general.html' %}

{% block content %}

<div class="well text-center">
        <h3>INSCRIPTION D'UN APPRENANT</h3>
</div>
    <div class="container">

            {%with messages = get_flashed_messages() %}

            {%if messages%}
            {%for message in messages%}
            <div class="alert alert-success alert-dismissable" role="alert">

                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">x</span>
                </button>

                {{message}}
            </div>

            
            {%endfor%}
            {%endif%}
            {%endwith%} 
        <!-- <div id="mymodal" class="modal fade" role="dialog"> -->
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
        
                        <h4 class="modal-title"> SVP remplissez les champs </h4>
                        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    </div>
                    <div class="modal-body">
                        <form action="{{url_for('new_app')}}" method="POST">
                            <div class="form-group">
                                <label> matricule</label>
                                <input type="text" class="form-control" name="matricule" required="1">
                            </div>
        
                            <div class="form-group">
                                <label> prenom</label>
                                <input type="text" class="form-control" name="prenom" required="1">
                            </div>
                            <div class="form-group">
                                <label> nom</label>
                                <input type="text" class="form-control" name="nom" required="1">
                            </div>
                            <div class="form-group">
                                <label> téléphone</label>
                                <input type="tel" class="form-control" name="phon" required="1">
                            </div>
                            <div class="form-group">
                                <label> email</label>
                                <input type="email" class="form-control" name="email" required="1">
                            </div>
        
                            <div class="form-group">
                                <label for="promotion" > promotion</label>
                                <select name="nom_promo">
                                    {%for promm in prom%}
                                        <option value="{{promm[0]}}">{{promm[1]}}</option>
                                    {%endfor%}
                                </select>
                            </div>
        
                            <div class="form-group">
                                <button class="btn btn-primary pull-right" type="submit">ajouter</button>
                            </div>
                        </form>
                    </div>
        
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                    </div> -->
        
                </div>
            </div>
        
        <!-- </div> -->
    </div>

{% endblock content %}